<!doctype html>
<html>

<!--This is the header of the html script-->
<head>

<!--Add a title to this html script-->
<title>Wildfires</title>

<!--Add a description to this html script-->
<meta name="description"  >

</head>



<!--This is the body of the html script-->
<body>

<!--Write some header text-->
This is a simplt page for CS 122<br><br>

<!--Add text for a title on the image-->
Below is the wildfires map<br>

<!--Add the Python logo image-->
<img src="static/map.png", alt="fires map">
</body>


</html>