<!DOCTYPE html>
<html>

<head>
    <title>Wildfires</title>
    <meta name="description">
    <style>
        /* Center the map image */
        .centered-map {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Additional styles for the image */
        .centered-map img {
            max-width: 100%;
            max-height: 70vh;
        }
    </style>
</head>

<body>

    <div class="centered-map">
        <!--Write some header text-->
        <p>This is a simple page for CS 122</p>
        <p>Below is the wildfires map</p>

        <!--Add the map image-->
        <img src="{{ url_for('static', filename='map.png') }}" alt="Wildfires Map">
    </div>

</body>

</html>
